{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lourenz Baliber</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static '/css/main.css' %}" rel="stylesheet"  type="text/css">
    
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/GRADPIC.png' %}">
                    <hr>
                    <h4>Hi, my name is Lourenz Baliber</h4>
                    <p>I love doing research, coding, and learning something new everyday.</p>
                </div>
            </div>
            <br>
            <div class="col-md-9 h-100">
                <div class="card card-body border-info id="profile-wrapper">
                    <h4> Medical Physicist | Data Analyst | Web Developer | Illustrator </h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>

                    <ul class="social-links">
                        <li><a href="https://www.linkedin.com/in/louxbal/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
                        <li><a href="https://www.facebook.com/lourenz.baliber"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
                        <li><a href="https://dribbble.com/fitaness12345"><img class="social" src="{% static 'images/dribbble.svg' %}"></a></li>
                    </ul>
                </div>   
            </div>
        </div>
        <br>    
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4> Research Interests </h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4> Anything Data </h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                </div>   
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4> Publications </h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                </div>
            </div>
        <br>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4> Illustrations </h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum commodo varius. 
                        Mauris euismod arcu vitae nibh posuere interdum. Donec pulvinar nibh arcu, a ultricies nulla accumsan et. 
                        Ut rutrum condimentum ipsum, quis auctor dui tristique nec. Sed in nisl augue. 
                        Nullam varius risus sed enim aliquet mattis. Donec sit amet sapien a urna consectetur sodales. Integer aliquam lacus aliquam, pretium diam ut, lacinia quam. 
                        Proin interdum at massa in fermentum. Sed hendrerit, ex quis volutpat ornare, ipsum leo vulputate dolor, at hendrerit elit eros sit amet mi. 
                        Pellentesque id lacinia tortor. Etiam tempus fringilla faucibus.
                    </p>
                </div>   
            </div>
        </div>
    </div>
</body>
</html>